div content-for="title" Help

#help
  div.content
    p
      ' To read these charts, first look at the range chart. If points are out of control on it, then
      ' the process is out of control no matter what the individual values chart says. If either chart is out
      ' of control, you will see 5 problem points that are causing it to be out of control.

    p
      ' You should try to identify if anything significant happened on an out of control day. If
      ' so, then you can ignore that day from the web interface, because the instability is not a fault
      ' of the underlying process.
